 <launch>

   <!-- Arguments -->

  <!--Main-->
  <!--node name="teleop_twist_keyboard" pkg="mobile_mini" type="teleop_key_rx.py"/--> 
  
  <!--arg name="map_file" default="$(find Home/map.yaml"/-->
  <!--node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" /-->

  <include file="$(find amcl)/examples/amcl_diff.launch" /> 
  <include file="$(find mobile_mini)/include/my_laser_filter.launch" /> 
  <include file="$(find mobile_mini)/include/move_base.launch" /> 
  <!--include file="$(find mobile_robot)/launch/robot.launch" /-->

  <node name="odometry" pkg="mobile_mini" type="odom_node.py"/> 

  <!--include file="$(find mobile_mini)/include/serial_node.launch"/-->

  <node pkg="tf" type="static_transform_publisher" name="odom_to_map" args=" 0.1 0.0 0.2 0.0 0.0 0.0 odom map 100" />

  <!--node pkg="tf" type="static_transform_publisher" name="laser_to_base_link" args=" 0.19 0.0 0.23 0.0 0.0 0.0 base_link laser 100" /-->



</launch> 
